*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
body{
    background-image: url(form\ resort.jpg);
    background-position: center;
    background-size: auto;
}
#form{
    border: white;
	border-style: solid;
	background: hsla(0, 0%, 10%, 0.1);
    height:500px;
    width:800px;
    border-radius: .75rem;
	box-shadow: var(--shadow);
    backdrop-filter: blur(8px);
    margin: auto;
    margin-top: 60px;
}
#form h1{
    padding-top: 25px;
    font-family: "Papyrus", fantasy;
    font-weight: 400;
}
#first-group{
    border:none;
    width:400px;
    margin-top: 30px;
    position: absolute;
}
#content{
    border: 1.9px solid #fff;
    border-radius: 15px;
    margin:10px;
    margin-left: 8px;
    padding:7px;
}

#content #input-group{
    border: white solid 1.5px;
    border-radius: 5px;
    outline: none;
    background: rgba(0, 0, 0, 0.151);
    margin-left:8px;
    width:300px;
    color:#fff;
    opacity: 0.8;
    padding: 3px 3px;
}
#content #input-group option{
    background-color: rgba(0, 0, 0, 0.3);
}
::placeholder{
    color:#fff;
}
.fa{
    background-color: white;
    border-radius: 50%;
    display:inline-block;
    color:black;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    padding:8px;
    margin-left: 8px;
}
.icon{
    background-color: white;
    border-radius: 50%;
    display:inline-block;
    color:black;
    border-right:3px solid #fff;
    border-left: 3px solid #fff;
    padding:5px;
    margin-left: 8px;
}
.name{
    background-color: white;
    border-radius: 50%;
    display:inline-block;
    color:black;
    border-right:2px solid #fff;
    border-left:2px solid #fff;
    padding:8px;
    margin-left: 8px;
}

#second-group{
    border:none;
    width:400px;
    margin-top: 47px;
    margin-left:400px;
}
#submit-btn{
    margin-top: 55px;
    margin-left: 590px;
    background: rgba(0, 0, 0, 0.331);
    width:170px;
    border:white;
    border-style: solid;
    border-radius: 15px;
    outline:none;
    padding:10px;
}
#submit-btn a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#submit-btn :hover{
    opacity: 0.6;
}


