*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(room1.jpg)
}
  
ul#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-family: "Georgia", serif;
    font-size: 15px;
    transition: 0.5s;
}
  
ul#menu li a:hover:not(.active) {
    background-color: #795c34;
    border-radius: 15px;
    transition: 0.5s;
}
  
.active {
    background-color: teal;
    border-radius: 15px;
}

nav#navbar{
    width: 100%;
    text-align: center;
}

.logo{
    width: 150px;
    margin: 20px 0;
    cursor: pointer;
}

nav#navbar ul{
    background: #af8c72;
    width: 100%;
}

nav#navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 18px 1px;
    color: white;
}

nav#navbar.sticky{
    position: fixed;
    top: 0;
    left: 0;
    padding: 13px 50px;
    background: #af8c72;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding 1s;
}

nav#navbar.sticky ul{
    width: auto;
}

.titleText{
    text-align: center;
    font-family: "Papyrus", cursive;
    font-size: 3.5rem;
    margin: 50px 0;  
    font-weight: bold;
    padding: 0 30px;
}

hr{
    margin: 0 15%;
    height: 4px;
    border-width: 0;
    background-color: tan;
}

.flex-container {
    font-family: 'poppins', sans-serif;
    display: flex;
}

.flex-child {
    flex: 1;
    height: 400px;
}  

.flex-child:first-child {
    margin-right: 20px;
}
img.picture{
    border: 10px white solid;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 50px;
    margin-top: 20px;
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}
img.picture:hover{
    margin-left: 37px;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 490px;
    height: 270px;
    transition: 0.5s;
}
.text h3{
    font-family: "Papyrus", fantasy;
    font-size: 2.5rem;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 50px;
}
.text h4{
    font-family: "Papyrus", fantasy;
    font-size: 1.7rem;
    padding-bottom: 10px;
    padding-left: 50px;
}
.text p{
    padding-bottom: 6px;
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 30px;
}
.text p.bed{
    font-size: 1.2rem;
    padding-left: 50px;
    padding-right: 30px;
}
.text p.extraWords{
    padding-bottom: 6px;
    font-size: 1.2rem;
    padding-left: 133px;
}


button a{
    font-family: "Papyrus", fantasy;
    font-weight: 500;
}
.text .form-btn {
    width: 7em;
    margin-left: 20rem;
    padding: 10px 10px;
    border-radius: 15px;
    background-color: #a78164;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 1.6rem;
    border: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}

.text .form-btn:hover {
	background: #795c34;
    color: rgb(159, 157, 157);
    font-size: 1.8rem;
    margin-left: 19rem;
    padding: 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
.text .form-btn a{
    color: white;
    text-decoration: none;
    transition: 0.1s;
}
.text .form-btn a:hover{
    color: rgb(159, 157, 157);
    transition: 0.1s;
}


.icon{
    padding-right: 3px;
    font-size: 1.4rem;
}
